<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">


<div th:fragment="dropdown-user" class="btn-group dropdown dropdown-menu-right" role="group">
    <button type="button" class="btn btn-secondary dropdown-toggle" id="dropdownUser" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span th:text="${session.user.name}">Toggle Dropleft</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownUser">
        <a class="dropdown-item" href="#" th:href="@{/user/profile}">Profile</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#" th:href="@{/logout}">Cerrar Sessión</a>
    </div>
</div>


</html>