<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>simple store</title>
    <link href="" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="/icons/font/css/open-iconic.min.css" th:href="@{/icons/css/ionicons.min.css}" rel="stylesheet" />
    <style>
        .clickable {
            cursor: pointer;
        }
        *[hidden] { display: none; }
        .sbl-circ-path {
            height: 35px;
            width: 35px;
            color: rgba(90, 90, 90, 0.2);
            position: relative;
            display: inline-block;
            border: 5px solid;
            border-radius: 50%;
            border-right-color: #5a5a5a;
            animation: rotate 1s linear infinite; }

        @keyframes rotate {
            0% {
                transform: rotate(0); }
            100% {
                transform: rotate(360deg); } }


    </style>
</head>
<body>

<!--/* HEADER */-->
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a th:href="@{/}">Open store</a></h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a class="p-2 text-dark">Featured</a>
        <a class="p-2 text-dark" href="#">Enterprise</a>
        <a class="p-2 text-dark" href="#">Support</a>
        <a class="p-2 text-dark" href="#">Pri5cing</a>
    </nav>

    <div class="dropdown" id="cat-button">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            categorias
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" >
            <a class="dropdown-item" th:each="cat :${categories}" th:href="@{/(cid=${cat.id})}"  th:text="${cat.nombre}">Categoria 1</a>
        </div>
    </div>

    <div class="dropdown" id="admin-button">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            admin
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton" >
            <a class="dropdown-item" href="categories" th:href="@{/admin/categories}">Categorías</a>
            <a class="dropdown-item" href="products" th:href="@{/admin/products}">Productos</a>
        </div>
    </div>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>
<!--/* END HEADER */-->



<br />


<main role="main">

    <h3 class="text text-center text-dark">Products list</h3>
    <a class="btn btn-primary" th:href="@{/admin/product/create}">Crear Nueva categoria</a>
    <div class="container">
        <div id="product-deleted-msg" class="alert alert-success" role="alert" style="display: none;">
            Product deleted!
        </div>
        <table class="table table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">imagen</th>
                <th scope="col">nombre</th>
                <th scope="col">pvp</th>
                <th scope="col">descuento</th>
                <th scope="col">acciones</th>
            </tr>
            </thead>
            <tbody>
            <tr th:id="${prod.id}" th:each="prod : ${products}">
                <td scope="row">
                    <img src="#" th:src="${prod.imagen}" width="30px" height="30px" />
                </td>
                <td th:data-id="${prod.id}" th:text="${prod.nombre}" data-toggle="modal" data-target="#edit-modal" class="clickable">nombre</td>
                <td th:text="${#numbers.formatDecimal(prod.pvp, 1, 2) + ' €'}">precio</td>
                <td th:text="${#numbers.formatPercent(prod.descuento, 1, 0)}">descuento</td>
                <td>
                    <div class="row nav-row">
                        <a class="btn btn-danger" th:href="@{/admin/category/delete/}" data-toggle="modal" data-target="#delete-modal" th:data-id="${prod.id}">Borrar</a>
                    </div>
                    <div hidden="hidden" th:text="${prod.descripcion}"></div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>


<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="delete-modal-label">Borrar producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center">
                    <img id="delete-product-img" src="#" alt="imagen producto a borrar" width="100%" />
                </div>
            </div>
            <div class="modal-footer" id="delete-product-buttons">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="delete-product-button" type="button" class="btn btn-danger" data-id="">BORRAR</button>
                <div id="loader" class="sbl-circ-path" style="display: none;"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-modal-label">Editando producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-product-form" action="/admin/products/update" method="post">
                    <div class="row justify-content-center">
                        <img id="product-img" src="" alt="imagen producto" />
                    </div>
                    <div class="form-group">
                        <label for="name" class="col-form-label">nombre:</label>
                        <input type="text" class="form-control" id="name" />
                    </div>
                    <div class="form-group">
                        <label for="image" class="col-form-label">imagen:</label>
                        <input type="text" class="form-control" id="image" />
                    </div>
                    <div class="form-group">
                        <label for="price" class="col-form-label">precio:</label>
                        <input type="text" class="form-control" id="price" />
                    </div>
                    <div class="form-group">
                        <label for="discount" class="col-form-label">descuento:</label>
                        <input type="text" class="form-control" id="discount" />
                    </div>
                    <div class="form-group">
                        <label for="description" class="col-form-label">descripción:</label>
                        <textarea class="form-control" id="description" rows="5"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Guardar Cambios</button>
            </div>
        </div>
    </div>
</div>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
            <a href="#">Back to top</a>
        </p>
        <p>Open store was created with the newest version of &copy; Bootstrap, the most popular CSS Framework for developing responsive and mobile-first websites.</p>
    </div>
</footer>

<script src="" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="" th:src="@{/js/popper.min.js}"></script>
<script src="" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="" th:src="@{/js/holder.min.js}"></script>
<script>

    $(document).ready(function() {
        var deleteModal = $('#delete-modal');
        $('#edit-modal').on('show.bs.modal', function (event) {
            var elem = $(event.relatedTarget); // element that triggered the modal
            var tid = elem.data('id');
            var tr = $('#' + tid);
            var modal = $(this);

            var image = tr.find('img').attr('src');
            var name = $('#' + tid + ' td:nth-child(2)').html();
            var price = $('#' + tid + ' :nth-child(3)').html();
            var discount = $('#' + tid + ':nth-child(4)').html();
            var description = tr.find('div:hidden').html();

            modal.find('#edit-product-form').attr('action', '/admin/product/' + tid + '/update/');
            modal.find('#product-img').attr('src', image);
            modal.find('.modal-title').text('Editar producto ' + tid);
            modal.find('#name').val(name);
            modal.find('#image').val(image);
            modal.find('#price').val(price);
            modal.find('#discount').val(discount);
            modal.find('#description').val(description);
        });

        deleteModal.on('show.bs.modal', function (event) {
            var elem = $(event.relatedTarget); // element that triggered the modal
            var tid = elem.data('id');
            var modal = $(this);

            var image = $('#' + tid).find('img').attr('src');
            var name = $('#' + tid + ' td:nth-child(2)').html();

            modal.find('#delete-modal-label').html("Borrar '" + name + "' ?");
            modal.find('#delete-product-img').attr('src', image);
            modal.find('#delete-product-button').data('id', tid);
        });

        deleteModal.on('hidden.bs.modal', function (e) {
            $('#delete-product-buttons button').attr('disabled', false);
            $('#loader').hide();
        });

        $('#delete-product-button').on("click", function () {
           $('#loader').show();
           $('#delete-product-buttons button').attr('disabled', true);
           var deleteUrl = window.location.href.split('?')[0];
           var id = $(this).data('id');
           var request = $.ajax({
               url: deleteUrl ,
               method: "DELETE",
               contentType: 'application/json',
               data: JSON.stringify([ id ])
           });

           request.done(function( msg ) {
               $('#product-deleted-msg').show();
               $('#' + id).remove();
               deleteModal.modal('hide');
           });

           request.fail(function( jqXHR, textStatus ) {
               $('#delete-product-buttons button').attr('disabled', true);
               $('#loader').hide();
               alert( "Request failed: " + textStatus );
           });
        });
    });
</script>
</body>

</body>
</html>