<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm" th:fragment="header">
    <h5 class="my-0 mr-md-auto font-weight-normal"><a th:href="@{/}">Java Open store</a></h5>
<!--/*    */-->
    <nav class="nav">
        <a class="nav-link active" th:href="@{/products/featured}">Destacados</a>
        <a class="nav-link" th:href="@{/products/on-sale}">Ofertas</a>
        <a class="nav-link disabled" href="#">Otros</a>
    </nav>
    <th:block th:insert="${session.user != null} ? ~{fragments/header/header-dropdown :: dropdown} : _">
        <a class="btn btn-outline-primary" th:href="@{/login}">Login</a>
    </th:block>
</header>

</html>