<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id" content="596949661097-14ml9fda8ffnpcs7t05bisgpl5hj8lfd.apps.googleusercontent.com">
    <title>simple store</title>
    <link href="" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="" th:href="@{/css/login.css}" rel="stylesheet" th:if="${#strings.equals(fragment, 'login')}" />
    <link href="" th:href="@{/css/register.css}" rel="stylesheet" th:if="${#strings.equals(fragment, 'register')}" />
    <link href="/icons/font/css/open-iconic.min.css" th:href="@{/icons/css/ionicons.min.css}" rel="stylesheet">
</head>


<body>




<div class="container" th:replace="fragments/login :: ${fragment}">

</div>



<script src="" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
<script>

    $( document ).ready(function() {
        var welcomeMsg = $('#welcomeMsg');
        $('input[type=radio][name=gender]').change(function() {
            if(welcomeMsg!=null) {
                switch (this.value) {
                    case 'H': welcomeMsg.text("Benivenido"); break;
                    case 'M': welcomeMsg.text("Benivenida"); break;
                    case 'O': welcomeMsg.text("Benivenid@"); break;
                }
            }
        });
        //testLocalStorageData();
        // Load profile if it exits
        //loadProfile();
    });

    function onLoad() {
        gapi.load('auth2', function() {
            gapi.auth2.init();
        });
    }

    function googleSignOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            if( !($('#remember-me').is(":checked")) ) {
                removeProfile();
            }

            console.log('User signed out.');
            $("#username").show();
            $("#password").show();
            $("#remember").show();
            $("#signin-btn").show();
            $("#forgot").show();
        });
    }

    function onSignIn(googleUser) {
        // https://developers.google.com/identity/sign-in/web/backend-auth
        var id_token = googleUser.getAuthResponse().id_token;
        var profile = googleUser.getBasicProfile();

        console.log("id token:" + id_token);
        console.log("access token:" + access_token);
        console.log("auth:" + googleUser.getAuthResponse());

        if( storeLocalProfile(profile.getImageUrl(), profile.getName(), profile.getEmail()) ) {
            $("#profile-img").attr("src",profile.getImageUrl());
            $("#profile-name").html(profile.getName());
            $("#reauth-email").html(profile.getEmail());
            $("#username").hide();
            $("#password").hide();
            $("#remember").hide();
            $("#signin-btn").hide();
            $("#forgot").hide();
        }
    }

    /**
     * Main function that load the profile if exists
     * in localstorage
     */
    function loadProfile() {
        if(!supportsHTML5Storage()) { return false; }
        // we have to provide to the callback the basic
        // information to set the profile
        getLocalProfile(function(profileImgSrc, profileName, profileReAuthEmail) {
            //changes in the UI
            $("#profile-img").attr("src",profileImgSrc);
            $("#profile-name").html(profileName);
            $("#reauth-email").html(profileReAuthEmail);
            $("#inputEmail").hide();
            $("#remember").hide();
        });
    }

    /** removes user profile from localStorage if exists */
    function removeProfile() {
        if(!supportsHTML5Storage()) { return false; }
        localStorage.clear();
    }

    /**
     * Function that gets the data of the profile in case
     * thar it has already saved in localstorage. Only the
     * UI will be update in case that all data is available
     *
     * A not existing key in localstorage return null
     *
     */
    function getLocalProfile(callback){
        var profileImgSrc      = localStorage.getItem("PROFILE_IMG_SRC");
        var profileName        = localStorage.getItem("PROFILE_NAME");
        var profileReAuthEmail = localStorage.getItem("PROFILE_REAUTH_EMAIL");

        if(profileName !== null
            && profileReAuthEmail !== null
            && profileImgSrc !== null) {
            callback(profileImgSrc, profileName, profileReAuthEmail);
        }
    }

    function storeLocalProfile(img, name, email){
        if(!supportsHTML5Storage()) { return false; }
        localStorage.setItem("PROFILE_IMG_SRC", img );
        localStorage.setItem("PROFILE_NAME", name);
        localStorage.setItem("PROFILE_REAUTH_EMAIL", email);
        return true;
    }

    /**
     * function that checks if the browser supports HTML5
     * local storage
     *
     * @returns {boolean}
     */
    function supportsHTML5Storage() {
        try {
            return 'localStorage' in window && window['localStorage'] !== null;
        } catch (e) {
            return false;
        }
    }
</script>

</body>