<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>simple store</title>
    <link href="" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link href="/icons/font/css/open-iconic.min.css" th:href="@{/icons/css/ionicons.min.css}" rel="stylesheet">
</head>
<body>
<header th:replace="fragments/header/header :: header"></header>

<div class="container">

    <th:block th:if="${!#strings.isEmpty(message)}">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <p th:text="${message}"></p>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </th:block>

    <h3><span th:text="${category.id} ? 'Editar' : 'Nueva'"></span> Categoría</h3>

    <form th:action="@{/admin/category/new}" th:object="${category}" method="post" >

        <div class="row justify-content-center" th:if="${!#strings.isEmpty(category.imagen)}">
            <img id="category-img" src="" th:src="*{imagen}" alt="imagen producto" width="250" height="250" />
        </div>

        <input type="hidden" th:field="*{id}">

        <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label">Nombre (*)</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="name" placeholder="Name" th:field="*{nombre}" />
            </div>
        </div>

        <div class="form-group row">
            <label for="image" class="col-sm-2 col-form-label">Enlace Imagen</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" id="image" placeholder="http://..." th:field="*{imagen}" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-2"><label for="featured" class="form-check-label" >Destacada</label></div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="featured" th:field="*{destacada}" />

                </div>
            </div>
        </div>

        <hr />

        <div class="form-group row">
            <div class="col-sm-10">
                <a class="btn btn-secondary" th:href="@{/admin/categories}">Cancelar</a>
                <button type="submit" class="btn btn-primary" th:text="${category.id} ? 'Modificar Categoría' : 'Crear Categoría'"></button>
            </div>
        </div>


    </form>


</div>

<footer class="text-muted" th:replace="fragments/footer :: footer">
</footer>


</body>
</html>